@use 'abstracts' as *;

:root {
  font-family: $font-family-base;
  color: $color-ink;
  background: $color-canvas;
  font-synthesis: none;
  font-size: 14px;
  color-scheme: light;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 34px;
  letter-spacing: -1.25px;
  font-weight: 650;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  letter-spacing: -0.4px;
}

h3 {
  font-size: 15px;
  font-weight: 650;
}

p {
  line-height: 1.65;
}

small {
  font-size: 12px;
}
