@use 'abstracts' as *;

.classification__field {
  @include text(tiny);

  display: flex;
  flex-direction: column;
  gap: 6px;
  color: $slate-400;
  margin: 12px 0;
}

.classification__select {
  @include text(caption);

  min-height: 32px;
  padding: 7px 10px;
}
