@use 'abstracts' as *;

.notification-item {
  display: flex;
  width: 100%;
  text-align: left;
  align-items: center;
  gap: 15px;
  background: $white;
  padding: 23px 0;
  border-bottom: 1px solid $color-line;

  &:last-child {
    border: 0;
  }

  @include respond-to(phone) {
    gap: 10px;
  }

  &--read {
    opacity: 0.6;
  }
}

.notification-item__content {
  flex: 1;
}

.notification-item__title {
  @include text(body);

  color: $slate-700;
  font-weight: $font-weight-medium;

  @include respond-to(phone) {
    @include text(small);
  }
}

.notification-item__time {
  @include text(caption);

  display: block;
  color: $slate-400;
  margin-top: 6px;

  @include respond-to(phone) {
    @include text(tiny);
  }
}

.notification-item__icon {
  background: $teal-100;
  color: $teal-400;
  display: grid;
  place-items: center;
  height: 39px;
  width: 39px;
  border-radius: 10px;

  @include respond-to(phone) {
    width: 32px;
    height: 32px;
  }
}

.notification-item__arrow {
  color: $slate-400;
}
