@use 'abstracts' as *;

.queue-footer {
  @include text(caption);

  padding: 17px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $slate-300;

  @include respond-to(phone) {
    @include text(micro);

    padding: 14px 13px;
    gap: 10px;
  }
}

.queue-footer__timezone {
  @include respond-to(phone) {
    max-width: 150px;
    text-align: right;
  }
}
