@use 'abstracts' as *;

.avatar {
  display: grid;
  place-items: center;
  border-radius: 50%;

  &--medium {
    width: 34px;
    height: 34px;
    background: $navy-600;
    color: $navy-100;
    font-weight: $font-weight-semibold;
  }

  &--small {
    @include text(caption);

    display: inline-grid;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
    background: $teal-100;
    color: $sage-600;
  }
}
