@use 'abstracts' as *;

.admin-card {
  @include card;

  padding: 24px;
  margin-bottom: 18px;

  @include respond-to(phone) {
    padding: 17px;
  }
}

.admin-card__title {
  @include text(title);
}

.admin-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.admin-card__heading {
  @include text(title);

  margin: 0;

  @include respond-to(phone) {
    @include text(lead);
  }
}

.admin-card__help {
  @include text(small);

  color: $slate-500;
}
