@use 'abstracts' as *;

.dictionaries-tab__group {
  margin-top: 25px;
}

.dictionaries-tab__group-title {
  font-size: 11px;
  color: #81959f;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
