@use 'abstracts' as *;

.dictionaries-tab__group {
  margin-top: 25px;
}

.dictionaries-tab__group-title {
  @include text(small);

  color: $slate-500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
