@use 'abstracts' as *;

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.ticket-header__eyebrow {
  @include eyebrow(micro, 8px);
}

.ticket-header__title {
  @include text(heading);

  display: flex;
  gap: 12px;
  align-items: center;
  margin: 0;
  letter-spacing: 0.2px;
}

.ticket-header__close {
  @include icon-button;
}
