@use 'abstracts' as *;

.draft-files {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 10px;
}

.draft-files__item {
  @include text(caption);

  display: flex;
  align-items: center;
  gap: 5px;
  background: $teal-100;
  padding: 6px 8px;
  border-radius: 4px;
}

.draft-files__status {
  @include text(micro);

  color: $sage-400;
}

.draft-files__remove {
  background: none;
  display: flex;
  color: $sage-500;
}
