@use 'abstracts' as *;

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  @include respond-to(phone) {
    margin-bottom: 20px;
    align-items: flex-end;
  }
}

.page-heading__eyebrow {
  @include eyebrow;
}

.page-heading__title {
  @include respond-to(phone) {
    @include text(display-md);
  }
}

.page-heading__dot {
  color: $teal-500;
}

.page-heading__description {
  @include text(body);

  color: $slate-500;
  margin-bottom: 0;

  @include respond-to(phone) {
    @include text(caption);
  }
}
