@use 'abstracts' as *;

.delivery-status {
  @include text(micro);

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  color: $sage-400;
  margin-top: 5px;

  &--unknown,
  &--failed {
    color: $red-700;
  }
}

.delivery-status__action {
  @include text-button(tiny);

  margin-left: 5px;
}
