@use 'abstracts' as *;

.form-field {
  display: grid;
  gap: 6px;

  > input,
  > textarea {
    width: 100%;
  }
}

.form-field__label {
  @include text(label);

  color: $color-text-secondary;
  font-weight: $font-weight-medium;
}
