@use 'abstracts' as *;

.form-field {
  @include text(small);

  display: grid;
  gap: 8px;
  color: $slate-500;
  margin-bottom: 17px;

  // The control is passed in as a child.
  input,
  textarea {
    @include input-control;
  }

  textarea {
    min-height: 95px;
    resize: vertical;
  }
}
