@use 'abstracts' as *;

.page-header {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 40px;

  @include respond-to(phone) {
    gap: 12px;
  }
}

.page-header__title {
  flex-shrink: 0;

  @include respond-to(phone) {
    @include text(display);
  }
}

.page-header__actions {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
}
