@use 'abstracts' as *;

.admin-tabs {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin: 0 0 23px;

  @include respond-to(phone) {
    gap: 7px;
  }
}

.admin-tabs__tab {
  @include text(small);

  background: $white;
  border: 1px solid $color-line;
  border-radius: 6px;
  padding: 10px 14px;
  color: $slate-500;

  @include respond-to(phone) {
    @include text(caption);

    padding: 8px 10px;
  }

  &--selected {
    background: $teal-100;
    color: $teal-700;
    border-color: $teal-200;
  }
}
