@use 'abstracts' as *;

.empty-state {
  text-align: center;
  padding: 60px 24px;
  color: $slate-500;
  white-space: normal;
}

.empty-state__icon {
  width: 68px;
  height: 68px;
  display: grid;
  place-items: center;
  margin: auto;
  color: $sage-400;
  background: $teal-100;
  border-radius: 50%;
}

.empty-state__title {
  @include text(title);

  color: $slate-700;
  margin: 16px 0 8px;
}

.empty-state__text {
  @include text(body);

  margin: 0;
}
